*,
a,
button{
    margin: 0;
    text-decoration: none;
    border: none;
    font-family: "Roboto";
}
a{
    color:black;
    text-decoration: none;

}
.container{
    display:flex;
    flex-direction: column;
}

.sub-container{
    background-color: white;
    
}

.header{
    background-color: #1f2937;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    text-decoration:none;
    padding: 20px;
}
.header a{
    color: #e5e7eb;
}

.right-links{
    display:flex;
    gap:50px;
}

.header .logo{
    color: #f9faf8;
    font-size: 24px;
}

.landing{
    background-color: #1f2937;
    color:#f9faf8;
    display:flex;
    justify-content: center;
    flex: 1 0.5 100%;
    gap: 50px;
    height:100px;
    align-items: center;
    padding:40px;
}
.landing-message{
    width: 500px;
}
#landing-heading{
    font-size: 48px;
    font-weight: 900;
}

#landing-image{
    height: 300px;
}

#sign-up{
    background-color: #3882F6;
    color: #f9faf8;
    font-size: 18px;
    padding: 10px;
    border: 3px solid #3882F6;
    border-radius: 5px;
}

.testimonials{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.testmonials-heading h1{
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
}

.testimonials-main{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin:30px;
}
.testimonial-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 150px;
}
.testimonial-box{
    margin: 10px;
    text-align: center;
}

.testimonials-main .testimonial-cont .box-radius{
    height: 100px;
    width: 100px;
    border: 3px solid #3882F6;
    border-radius: 5px;
}

.quotation{
    display:flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
    align-items: center;
    padding:150px;
}

.quotation #quote{
    font-style: italic;
    font-family: "Roboto",Light Italic;
    font-size: 36px;
    font-weight: 100;
    width:700px;
}

.quotation #quote-author{
    display: flex;
    font-style: bold;
    font-size: 24px;
    font-weight: 700;
    justify-content: right;
    width:700px;
}

.calltoaction{
    display: flex;
    color:#f9faf8;
}

.calltoaction-bubble{
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 5px;
    flex: 1;
    margin: 100px;
    padding: 40px;
}

.calltoaction-bubble #sign-up{
    border: 3px solid #e5e7eb;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 30px;
}
